.header{
  border-bottom: unset;
}
.auth-wrapper{
  background: url("../../../../public/regauth__bg.png") no-repeat;
  background-size: cover;
  gap: 0;
  .header-wrapper{
    height: fit-content;
    padding-bottom: 0;
  }
}

.reg-auth-form__block{
  width: 100%;
  height: 100%;
}

.icon-hide{
  width: 24px;
  height: 24px;
  img{
    width: 100%;
    height: 100%;
  }
  .icon-hide__image{
    display: none;
  }
  .icon-active{
    display: flex;
  }
}

.form-input__number{
  min-width: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.form__item{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #D9DADB;
  background: #FFF;
  border-radius: 12px;
  padding: 12px 16px 12px 24px;
  svg{
    min-width: 24px;
  }
}
.reg-auth-form__wrapper{
  max-width: 664px;
  margin: 80px auto 92px;
  box-sizing: border-box;
  background: #FFF;
  border-radius: 32px;
}


.reg-auth-form__header{
  display: flex;
  justify-content: center;
  gap: 32px;
  border-bottom: 1px solid var(--grayscale-06);
}

.reg-auth-header__item{
  min-height: 64px;
  display: flex;
  align-items: center;
  color: var(--grayscale-02);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.reg-auth-header__item__active{
  border-bottom: 2px solid var(--main-blue-01);
  color: var(--main-blue-01);
}

.reg-auth-form__body{
  box-sizing: border-box;
  padding: 32px 131px 64px;
  text-align: center;
  form{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form-item__input{
    min-width: unset;
  }
}

.form-checkbox{
  border: none;
  padding: 0;
}
.form-checkbox__body{
  flex-direction: row;
  font-size: 16px;
  gap: 16px;
  .form-item__label{
    color: #14142B;
  }
}

.auth-button{
  margin-top: 16px;
  width: 100%;
  padding: 22px 0;
  font-weight: 600;
}
.form-item__row{
  border: none;
  padding: 0;
  justify-content: space-between;
  .row-item{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    .form-item__label{
      color: #14142B;
    }
  }
  .row-item__link{
    font-size: 14px;
    color: var(--main-blue-01);
    text-decoration: underline;
    font-weight: 600;
  }
}

.reset-title{
  font-size: 32px;
  color: #14142B;
  margin-bottom: 16px;
  padding-top: 32px;
}

.reset-subtitle{
  font-size: 16px;
  color: var(--grayscale-02);
  margin-bottom: 32px;
}


.form-separator{
  position: relative;
  z-index: 2;
  margin: 8px 0;
  span{
    text-transform: uppercase;
    font-size: 20px;
    color: var(--grayscale-02);
    padding: 0 12px;
    background: #FFF;
    font-weight: 600;
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background: var(--grayscale-02);
  }
}

.profile-form__wrapper{
  box-sizing: border-box;
  padding: 32px 48px;
  border-radius: 0 0 24px 24px;
  background: #FFF;
  margin-bottom: 92px;
}

.form-section{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  .form__item{
    max-width: 712px;
  }
}

.form-section__title{
  font-size: 18px;
  font-weight: 600;
  color: var(--grayscale-02);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grayscale-05);
}

.form-section__row{
  display: flex;
  justify-content: space-between;
  max-width: 712px;
}


@media screen and (max-width: 980px) {
    .reg-auth-form__wrapper{
      max-width: 90vw;
    }
  .form-section__row{
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 700px) {
  .reg-auth-form__body{
    padding: 32px 20px 64px;
  }
  .reg-auth-form__header{
    margin: 0 20px;
  }

  .form-item__label{
    font-size: 12px;
  }

  .reset-title{
    font-size: 24px;
    color: var(--grayscale-02);
  }
}
@media screen and (max-width: 450px) {
  .auth-wrapper{
    background: url("../../../../public/regauth__bg__mobile.png") no-repeat ;
    background-size: cover;
  }
}