.tours-banner {
  width: 100%;
  background: url("../../../../public/tours-moscow__main.png");
  position: relative;
}
.tours-banner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 74, 154, 0.44);
  z-index: 0;
}
.tours-banner__wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 20px 58px;
  position: relative;
  z-index: 1;
}

.tours-banner__breadcrumbs {
  font-size: 12px;
  display: flex;
  gap: 12px;
  color: #E1E1E1;
}
.tours-banner__breadcrumbs .breadcrumb:last-child {
  color: #FEE54B;
}

.breadcrumb {
  color: #E1E1E1;
  text-decoration: underline;
  position: relative;
}

.tours-wrapper {
  gap: 0;
}

.tours-header__wrapper {
  padding-bottom: 0;
  height: unset;
}

.tours-banner__title {
  color: #FFF;
  font-size: 48px;
  margin: 30px 0;
}

.tours-banner__form {
  border-radius: 24px;
  box-shadow: 0 4px 17px rgba(22, 47, 81, 0.15);
}

.tours-form__button {
  font-size: 14px;
  text-transform: uppercase;
  padding: 30px 74px;
}
.tours-form__button svg path {
  stroke: var(--grayscale-01);
}

.tours-filters {
  padding-top: 90px;
  padding-left: 12px;
  padding-right: 68px;
  min-width: 261px;
  box-sizing: content-box;
}
.tours-filters .tours-filters__nav {
  display: none;
}

.tours-filters__active {
  display: flex;
  flex-direction: column;
  padding: 16px !important;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
}
.tours-filters__active .filters-group__title {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.tours-banner__movedown {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
}

.tours-content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
}

.filters-group {
  border-bottom: 1px solid var(--grayscale-06);
}

.filters-group__title {
  font-size: 14px;
  font-weight: 600;
  color: var(--grayscale-02);
  min-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.filters-group__title .filter-icon__wrapper {
  width: 20px;
  height: 20px;
}

.filters-group__title__active {
  color: var(--main-blue-01);
}

.filter-group__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
}

.filter-group__item {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--grayscale-03);
  cursor: pointer;
}
.filter-group__item:last-child {
  margin-bottom: 24px;
}
.filter-group__item a {
  text-decoration: none;
  color: var(--main-blue-01);
  font-weight: 600;
}

.filter-icon__wrapper svg {
  transform: rotate(180deg);
}
.filter-icon__wrapper svg path {
  stroke: var(--grayscale-04);
}

.filter-icon__active svg {
  transform: rotate(0deg);
}
.filter-icon__active svg path {
  stroke: var(--main-blue-01);
}

.tours {
  width: 100%;
  padding-top: 27px;
  box-sizing: border-box;
}

.tours-sorts,
.tours-sort {
  display: flex;
}

.tours-sorts {
  gap: 12px;
}

.tours-sort {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.tours-sort__result {
  font-size: 18px;
  font-weight: 600;
  color: var(--grayscale-03);
}

.tours-sort__type {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid var(--grayscale-04);
  min-width: 250px;
  box-sizing: border-box;
  cursor: pointer;
}
.tours-sort__type p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-weight: 600;
  color: var(--gray-2);
}

.tours-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tour-card {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  background: var(--main-000);
  border-radius: 24px;
  min-height: 340px;
  box-sizing: border-box;
}
.tour-card .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image__wrapper {
  width: 340px;
  height: 100%;
  position: relative;
}
.card-image__wrapper .card-image__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 24px;
}
.card-image__wrapper .card-image__image img {
  min-width: 340px;
  width: 100%;
  height: 100%;
}
.card-image__wrapper .slider {
  display: flex;
  height: 100%;
  border-radius: 24px;
}

.tour-card__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-card__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--grayscale-02);
  margin-bottom: 8px;
}

.tour-card__subtitle {
  font-size: 14px;
  color: var(--grayscale-04);
  margin-bottom: 24px;
}

.tour-card__content {
  padding-top: 38px;
  padding-right: 54px;
  padding-left: 34px;
}

.tour-card__dates {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.tour-card_date {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  font-size: 13px;
  background: #FFF;
  border-radius: 39px;
}
.tour-card_date img {
  width: 16px;
}

.tour-card-places {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tour-card-places .tour-card-link:not(:last-child) {
  margin-right: 8px;
}

.tour-card-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--main-blue-01);
}

.tour-card__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 26px;
  padding-left: 24px;
  background: #FFF;
  border-radius: 24px 0 24px 0;
  width: fit-content;
  margin-left: auto;
  box-sizing: border-box;
}

.tour-card__price {
  display: flex;
  flex-direction: column;
  color: var(--grayscale-02);
}
.tour-card__price .card-price__title {
  font-size: 14px;
}
.tour-card__price .card-price__value {
  font-weight: 600;
  font-size: 20px;
}

.card-action__button {
  padding: 16px 24px 16px 32px;
  height: fit-content;
  width: fit-content;
  border-radius: 24px 0 24px 0;
}
.card-action__button svg {
  transform: rotate(-90deg);
}

.tours-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 16px;
  box-shadow: 0 4px 17px rgba(22, 47, 81, 0.15);
  border-radius: 24px;
  box-sizing: border-box;
}

.tours-info__item {
  display: flex;
}

.tours-info__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: var(--grayscale-01);
}
.tours-info__desc .info-title {
  font-weight: 600;
}

.tours__showmore {
  min-height: 65px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 41px;
}

.tourcard-tags {
  position: absolute;
  left: 14px;
  top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 3;
}

.tourcard-tag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 21px;
  border-radius: 39px;
  font-weight: 600;
  color: var(--grayscale-02);
}
.tourcard-tag svg path {
  stroke: var(--grayscale-02);
}
.tourcard-tag svg circle {
  fill: var(--grayscale-02);
}

.tag-primary {
  color: #FFF;
}
.tag-primary svg path {
  stroke: #FFF;
}
.tag-primary svg circle {
  fill: #FFF;
}

.tours-button__filter {
  display: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--grayscale-06);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 10px;
  border: none;
  outline: none;
  color: var(--grayscale-02);
}

.content {
  width: 100%;
  padding: 32px 0;
  margin-bottom: 62px;
}

.content-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--grayscale-02);
  margin-bottom: 13px;
}

.card-image__thumbs {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-image__thumb__active {
  background: var(--main-blue-01);
  width: 32px;
  height: 12px;
  border-radius: 12px;
}

.card-image__thumb {
  background: var(--grayscale-05);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

@media screen and (max-width: 1153px) {
  .tours-cards {
    gap: 32px;
  }
  .card-image__wrapper {
    margin: 0 auto;
  }
  .tours-button__filter {
    display: flex;
  }
  .tours-filters {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 20;
  }
  .tours-filters .tours-filters__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--grayscale-06);
  }
  .tours-filters .tours-filters__nav .filter-close {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .tours-filters .tours-filters__nav .filter-close svg path {
    stroke: var(--grayscale-02);
  }
  .tours-filters__active {
    display: flex;
  }
  .tours {
    padding: 27px 20px;
  }
}
@media screen and (max-width: 991px) {
  .tourcard-tags {
    font-size: 12px;
    flex-direction: row;
    left: 11px;
  }
  .tourcard-tags .tourcard-tag {
    padding: 6px 12px;
  }
  .tours-sort {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .tours-button__filter {
    width: 100%;
    padding: 16px 0;
  }
  .tour-card {
    flex-direction: column;
  }
  .tours-banner__movedown {
    display: none;
  }
  .tours-info {
    width: 95vw;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .tours-info .tours-info__item {
    width: 100%;
    gap: 12px;
  }
  .tours-sort__result {
    display: none;
  }
  .tours-sorts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .tours-sorts .tours-sort__type {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .card-image__thumbs {
    bottom: -10px;
    padding: 12px;
    background: #F1F8FF;
    border-radius: 24px 24px 0 0;
  }
  .slide {
    min-width: 100%;
    max-width: 100%;
  }
  .slide img {
    object-fit: cover;
  }
  .tour-card-link {
    color: var(--grayscale-03);
  }
  .tour-card__action {
    background: unset;
    width: 100%;
    justify-content: space-between;
  }
  .card-price__title {
    display: none;
  }
  .card-price__value {
    color: var(--main-blue-01);
  }
  .card-action__button span {
    display: none;
  }
  .tour-card__desc {
    gap: 24px;
  }
  .tour-card__content {
    padding: 38px 16px 0;
  }
  .tours-banner__title {
    font-size: 24px;
    margin-bottom: 54px;
  }
  .tours-form__button {
    width: 100%;
    padding: 16px 0;
  }
  .tours-banner {
    background-repeat: no-repeat;
    background-size: 380%;
    background-position: 32% 0;
  }
  .tours-banner:after {
    height: 280px;
  }
  .card-image__wrapper {
    width: 100%;
    height: 164px;
  }
  .card-image__wrapper .slide img {
    width: 100%;
  }
}

/*# sourceMappingURL=tours.css.map */
