body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --text-body-16-regular: "Proxima Nova";

    /* font sizes */
    --text-body-16-regular-size: 16px;
    --text-body-14-regular-size: 14px;
    --text-body-20-bold-size: 20px;
    --h3-bold-size: 32px;
    --font-size-xs: 12px;
    --font-size-7xl: 26px;
    --font-size-lgi: 19px;
    --font-size-xs-3: 11px;
    --font-size-3xs-9: 10px;
    --font-size-mini-1: 14px;
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-smi: 13px;
    --font-size-35xl: 54px;
    --font-size-24xl: 43px;

    /* Colors */
    --color-white: #fff;
    --grayscale-02: #4f4a66;
    --gray-2: #4f4f4f;
    --color-darkslategray: #222b3b;
    --grayscale-01: #14142b;
    --color-gray-100: rgba(255, 255, 255, 0.12);
    --grayscale-04: #a0a3bd;
    --main-yellow-01: #fee54b;
    --color-gold-100: #e6cc30;
    --main-000: #f2f8ff;
    --color-aliceblue-100: #f1f8ff;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #d9dee6;
    --color-gainsboro-300: #d9dadb;
    --color-dodgerblue-100: #4799ff;
    --color-dodgerblue-200: #2f80ed;
    --main-blue-01: #2f7fed;
    --color-dodgerblue-300: rgba(47, 128, 237, 0.1);
    --grayscale-05: #d6d8e7;
    --grayscale-03: #6e7191;
    --color-papayawhip: #fff0d3;
    --grayscale-07: #f7f7fc;
    --grayscale-06: #eff0f7;
    --color-lightgray: #d6d6de;
    --main-green-01: #46dd06;
    --color-limegreen-100: #2bc400;
    --color-darkgreen: #1d6300;
    --main-orange-01: #FF511F;

    /* Gaps */
    --gap-xs: 12px;
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-5xl: 24px;
    --gap-sm: 14px;
    --gap-3xs: 10px;
    --gap-9xs: 4px;
    --gap-44xl: 63px;
    --gap-13xl: 32px;
    --gap-4xl: 23px;
    --gap-2xs: 11px;
    --gap-80xl: 99px;
    --gap-71xl: 90px;
    --gap-61xl: 80px;
    --gap-29xl: 48px;
    --gap-42xl: 61px;
    --gap-5xs: 8px;
    --gap-7xl: 26px;
    --gap-10xs: 3px;
    --gap-175xl: 194px;
    --gap-7xs: 6px;
    --gap-6xs: 7px;
    --gap-122xl: 141px;

    /* Paddings */
    --padding-xs: 12px;
    --padding-5xl: 24px;
    --padding-301xl: 320px;
    --padding-61xl: 80px;
    --padding-141xl: 160px;
    --padding-xl: 20px;
    --padding-29xl: 48px;
    --padding-13xl: 32px;
    --padding-45xl: 64px;
    --padding-109xl: 128px;
    --padding-mid: 17px;
    --padding-4xl: 23px;
    --padding-76xl: 95px;
    --padding-43xl: 62px;
    --padding-143xl: 162px;
    --padding-26xl: 45px;
    --padding-25xl: 44px;
    --padding-3xl: 22px;
    --padding-2xs: 11px;
    --padding-3xs: 10px;
    --padding-14xl: 33px;
    --padding-17xl: 36px;
    --padding-base: 16px;
    --padding-sm: 14px;
    --padding-5xs: 8px;
    --padding-smi: 13px;
    --padding-7xs: 6px;
    --padding-6xl: 25px;
    --padding-2xl: 21px;
    --padding-mini: 15px;
    --padding-70xl: 89px;

    /* Border radiuses */
    --br-9xs: 4px;
    --br-41xl: 60px;
    --br-xs: 12px;
    --br-13xl: 32px;
    --br-3xl-6: 22.6px;
    --br-29xl: 48px;
    --br-5xl: 24px;
    --br-5xs: 8px;
    --br-lg: 18px;
    --br-20xl: 39px;

    /* Effects */
    --effect: 0px -4px 8px rgba(22, 47, 81, 0.06),
    0px 32px 32px rgba(21, 40, 66, 0.05);
    --effect1: 0px 4px 16px rgba(31, 78, 141, 0.12);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
    url('../../fonts/ProximaNova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-Black.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-Black.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-Extrabld.eot');
    src: local('../../fonts/ProximaNova/Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('../../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-SemiboldIt.eot');
    src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
    url('../../fonts/ProximaNova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-SemiboldIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-SemiboldIt.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
    url('../../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNovaT-Thin.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNovaT-Thin.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('../../fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-BlackIt.eot');
    src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
    url('../../fonts/ProximaNova/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-BlackIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-BlackIt.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-BoldIt.eot');
    src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
    url('../../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-BoldIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-BoldIt.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-ThinIt.eot');
    src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
    url('../../fonts/ProximaNova/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-ThinIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-ThinIt.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-RegularIt.eot');
    src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
    url('../../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-RegularIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-RegularIt.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot');
    src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
    url('../../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-LightIt.eot');
    src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
    url('../../fonts/ProximaNova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-LightIt.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-LightIt.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('../../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
    url('../../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
    url('../../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

