$grayscale01: #14142B;
$grayscale02: #4E4B66;
$grayscale03: #6E7191;
$grayscale04: #A0A3BD;
$grayscale05: #D6D8E7;
$grayscale06: #EFF0F6;
$grayscale07: #F7F7FC;

$yellowImportant: #FEE54B;
$primaryBlue: #2F80ED;